<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p>Welcome to <%= title %></p>
      <a href="/skills">To skills page</a>
    </div>
    <footer>Sorry for the css =D</footer>
  </body>
</html>
